<footer class="max-w-screen-xl mx-auto px-3 pb-3">
  <hr class="h-px mb-3 bg-gray-200 border-0 dark:bg-gray-700">
  <p>
      <%= link_to 'https://github.com/diowa/ruby4-rails8-flowbite-render' do %>
        <%= inline_svg_tag '@fortawesome--fontawesome-free--svgs--brands--github.svg', class: 'icon' %>
        diowa/ruby4-rails8-flowbite-render
      <%- end %>
  </p>
</footer>
