<%- page_title t("app_name") %>
<%- page_meta_description t("meta_description") %>

<h1 class="text-5xl font-medium leading-none mb-3">
  <%= yield :title %>
  <small class="text-gray-600 dark:text-gray-300">1.0.0</small>
</h1>

<ul class="text-xl flex flex-wrap space-x-2">
  <li>
    Ruby
    <small class="text-gray-600 dark:text-gray-300">4.0.1</small>
  </li>
  <li>
    Rails
    <small class="text-gray-600 dark:text-gray-300">8.1.2</small>
  </li>
  <li>
    Tailwind CSS
    <small class="text-gray-600 dark:text-gray-300">4.1.18</small>
  </li>
  <li>
    Flowbite
    <small class="text-gray-600 dark:text-gray-300">3.1.2</small>
  </li>
  <li>
    Font Awesome SVG
    <small class="text-gray-600 dark:text-gray-300">7.1.0</small>
  </li>
</ul>
